
<div class="generalContainer homeContainer container">
    <h1>Welcome, </h1>
    <h6>My name is Heesoo.</h6>
    <h6>To do the best work I can to help the most people possible.</h6>
    <a class="button" href=/about>About Me</a>
</div>